body{
	width: 10.0rem;
	height: 17.777778rem;
	background: #ffffd5;

}
*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
#head{width: 100%;
	height:0.444444rem;
	font-size: 0.444444rem;

	padding-top: 0.355556rem;
	padding-bottom: 0.355556rem;
	border-bottom: 0.008889rem solid #7f7f7f;
	background: #f8f8f8;
}
#head span{
	display:inline-block;
}
#head span img:nth-child(1){

	height:0.444444rem;
	
	padding-left: 0.426667rem;
}
#head span:nth-child(2){

 width: 100%;
height:0.444444rem;
text-align: center;
position: absolute;
top:0.355556rem;
left: 0;
letter-spacing: 0.044444rem;
}
.content_1{background: #ffffd5;
	/*width: 100%;*/
	padding: 0.444444rem 0.693333rem 0.222222rem 0.693333rem;
}
.content_1 .ul{
	overflow: hidden;
	font-size: 0.266667rem;
}
.content_1 .ul li{
	float: left;
	line-height: 0.391111rem;
	height: 0.391111rem;
}

.content_1 .ul li img{
	height: 0.391111rem;

}
.content_1 .ul li:nth-child(1){
	font-size: 0.4rem;
	color: #e60012;
	letter-spacing: 0.026667rem;
	font-weight: 700;
}
.content_1 .ul li:nth-child(2){
	margin-left: 0.382222rem;
}
.content_1 .ul li:nth-child(3){
	float: right;
	font-size: 0.311111rem;
	color: #5e5859;
}
.content_1 .ul li:nth-child(3) span:first-child{
	margin-right: 0.266667rem;
}
.content_1 .ul li:nth-child(3) span:last-child{
	color: #eb585f;
}
.content_1 .packet{
	   margin-top:0.444444rem;
} 

.content_1 .packet ul{
	overflow: hidden;
}


.content_1 .packet ul li{
	width: 4.177778rem;
	height: 1.688889rem;
	border-radius: 0.088889rem;
	background: #fa3530;
	float: left;
	padding: 0.24rem;
	box-sizing: border-box;
}
.content_1 .packet ul li:nth-child(2n){
	margin-left: 0.248889rem;

}
.content_1 .packet ul li:nth-child(2n){
	margin-bottom: 0.248889rem;
}

.content_1 .packet ul li:nth-child(2n){
	margin-bottom: 0.248889rem;
}
.content_1 .packet ul li:first-child{
	overflow: hidden; 
}
.content_1 .packet ul li:first-child img:first-child{
	
	width: 0.977772rem;
	border-radius: 0.133333rem;

	float: left;
}
.content_1 .packet ul li:first-child img:nth-child(2){
	
	width: 2.133333rem;
	margin-left: 0.4rem;

	float: left;
}


.content_1 .packet ul li:nth-child(2) img{
	height: 1.191111rem;
	width: 3.6rem;
}
.content_1 .packet ul li:nth-child(3){
	overflow: hidden;
}
.content_1 .packet ul li:nth-child(3) p{
	float: left;
	height: 1.208889rem;
	line-height:1.208889rem;
	margin-left: 0.577778rem;
	font-size: 0.444444rem;
	color: white;
}
.content_1 .packet ul li:nth-child(3) img{
	height: 1.333333rem;
	float: left;

}
.content_1 .packet ul li:nth-child(4) {

	border:0.008889rem solid red;
	background: none;
	font-size: 0.444444rem;
	color: #f9a09e;
	text-align: center;

}
.content_1 .packet ul li:nth-child(4) p{
	line-height:1.208889rem;
}
.content_2{
	width: 100%;
	height: 4.266667rem;
	background: #f51829;
	/*padding-left: 0.48rem;
	padding-right: 0.48rem;*/
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.content_2 .wrape{
	position: absolute;
	left: 0;
	top: 1rem;
	overflow: hidden;
	width: 30rem;
	transition: all 2s;
}
.content_2 .right{
	position: absolute;
     right: 0;
     top:2rem; 
     width: 0.7rem;
     height: 0.8rem;
     background: #9d272d;
     border-radius: 0.088889rem 0 0 0.088889rem;
     z-index: 1;
}
.content_2 .right img{
	height: 0.533333rem;
	margin-top:0.133333rem;
	margin-left: 0.266667rem;

}
.content_2 .wrape .page{
	width: 10.0rem;
float: left;
overflow: hidden;

}
.content_2 .wrape div img{
	float: left;
	width: 2.755556rem;
	 margin-left: 0.293333rem;
}




.content_2 p{
	padding-left: 0.48rem;
	padding-top: 0.266667rem;
	font-size: 0.444444rem;
	color: white;
	letter-spacing: 0.017778rem;
  


}
.content_2 p span{
	font-size: 0.577778rem;
	color: #fff000;
}
.wrape .page{
	position: relative;
}
.wrape .page div{
position: absolute;
width: 0.444444rem;
height: 0.444444rem;
font-size: 0.3rem;
background: white;
top: 0.533333rem;
border-radius: 50%;
text-align: center;
line-height:  0.444444rem;


}
.wrape .page div:first-child{

	left: 2.666667rem;
	
}
.wrape .page div:nth-child(2){
  left: 5.688889rem;
}
.wrape .page div:nth-child(3){
  left:8.888889rem;
}





.btn1{
	position: absolute;
	bottom: 0.177778rem;
	width: 100%;
	z-index: 1;

}
.btn{margin: auto;
	
	width: 1.5rem;
	height: 0.222222rem;
	overflow: hidden;
	z-index: 1;

}
.btn li{
	width: 0.222222rem;
	height: 0.222222rem;
	border-radius: 50%;
	background: #cbcbcb;
	float: left;
	margin-left: 0.222222rem;
	z-index: 1;
}
.btn li:first-child{
	background: green;
}



.content_3{   background:#ffffd5;
	margin-top: 0.177778rem;
	padding: 0 0.711111rem;
}
.content_3 a{
	display: block;
	margin-bottom: 0.248889rem;
}
.content_3 a:first-child{
	
margin-bottom: 0.177778rem;

}
.content_3 a img{
	width: 8.595556rem;
}
.content_3 a:first-child img{
	width: 5.484444rem;
}



